
.imdbLogo {
    height: 50px;
}

.navbar {
    width: 100%;
    overflow: auto;
    background-color: #262626;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    width: 120px;
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: poppins;
    font-size: 20px;
    text-align: center;
}

#search {
    width: 550px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}



button {
    background-color: #FFFFFF;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: -apple-system,sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 5px;
    text-align: center;
    transition: all .15s;
}

button:hover {
    background-color: #ffed6b;
    box-shadow: #be9000 0 -6px 8px inset;
    transform: scale(1.125);
}

.headline {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-family: -apple-system,sans-serif;
}

#underHeadline {
    font-size: 25px;
    font-weight: bold;
    color: #ffed6b;
}

.movieOfTheDay {
    float: right;

    padding-right: 45px;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieInfo {
    color: white;
    font-size: 20px;
    font-weight: normal;
}


.theList {
    width: 50%;
}

body li {
    margin: 5px;
    font-size: 17px;
}

body p {
    font-size: 20px;
    font-weight: bold;
    color: #ffed6b;
}

body {
    background: black;
    color: white;
    font-family: -apple-system,sans-serif;
}